{{outlet}}
<div class="ui container">
    <div class="ui centered grid fade-in one">
        <div class="six wide column">
            <br>
            <br>
            <h1>PROJECTS</h1>
            {{#link-to "application" class="menu"}}
              Home
            {{/link-to}}&nbsp;&nbsp;
            {{#link-to "projects" class="menu"}}
              Projects
            {{/link-to}}&nbsp;&nbsp;  
            <a class="menu" target="_blank" href="https://drive.google.com/file/d/1BITPcbuyB1LyiXXSN0giwnCbRkraU5zT/view?usp=sharing">Resume</a>
            <br>
            <br>
            <br>
            <br>
            <div style="height: 650px">
                {{#ember-scrollable autoHide=false}}
                  <h2 class="project-list" role="button"  {{action "cino"}}>CINO - Speaker and Positive Influencer</h2>
                  <h2 class="project-list" role="button"  {{action "dothemathright"}}>DoTheMathRight - the Super-Calculator</h2>
                  <h2 class="project-list" role="button" {{action "myweightjourney"}}>My Weight Journey - Weight Tracker</h2>
                  <h2 class="project-list" role="button" {{action "sentrybills"}}>Sentrybills - The Best Bill Tracker App</h2>
                {{/ember-scrollable}}
            </div>
            
        </div>
        <div class="ten wide column">
            <div class="ui grid project">
                <div class="four wide column"></div>
                <div class="twelve wide column projectInfoColumn">
                    {{#if cino_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://cinosixeight.de" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/zMOOQnh.png"width="400px"  alt="cino_page"></a>
                        <br>
                        Portfolio Page that basically gives info to Person and Event.   Also using mutliple widgets

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">CSS 54.4%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">HTML 27.3%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">JavaScript 19.6%</h3>
                        <hr class="twentypercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if dothemathright_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://dothemathright.herokuapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/Q2LI1jf.png"width="400px"  alt="cino_page"></a>
                        <br>
                        One Input field that can calculate, convert or validate your value, powered by Math.js

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">HTML 74.6%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">JavaScript 23.7%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">CSS 1.7%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if myweightjourney_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://myweightjourney.herokuapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/hlSFMoW.png"width="400px"  alt="weighttrackingapp"></a>
                        <br>
                        Simple weight tracking app with graph using ember.js, express, mongoose and mongodb

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 50.9%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express.js 40%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">MongoDB - Mongoose 9.1%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if sentrybills_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://sentrybills.herokuapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/uJbTx3G.png"width="400px"  alt="weighttrackingapp"></a>
                        <br>
                        Sentrybills - Awesome Bill tracking App build with Ember.js, Express, mongoose and mongodb 
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 43.9%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express.js 40%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">MongoDB - Mongoose 16.1%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                </div>
                
            </div>
        </div>
    </div>
</div>