{{outlet}}
{{! template-lint-disable }}
<div class="ui container">
    <div class="ui centered grid fade-in one">
        <div class="six wide column">
            <br>
            <br>
            <h1>PROJECTS</h1>
            {{#link-to "application" class="menu"}}
              Home
            {{/link-to}}&nbsp;&nbsp;
            {{#link-to "projects" class="menu"}}
              Projects
            {{/link-to}}&nbsp;&nbsp;  
            <a class="menu" target="_blank" href="https://drive.google.com/file/d/1BITPcbuyB1LyiXXSN0giwnCbRkraU5zT/view?usp=sharing">Resume</a>
            <br>
            <br>
            <br>
            <br>
            <div style="height: 650px">
                {{#ember-scrollable autoHide=false}}
                  <h2 class="project-list" role="button"  {{action "aptool"}}  style="cursor: pointer" >Aptool - The Application Process Tool</h2>
                  <h2 class="project-list" role="button"  {{action "qard"}}  style="cursor: pointer" >Qard - The Digital Business Card</h2>
                  <h2 class="project-list" role="button" {{action "sentrybills"}}  style="cursor: pointer" >Sentrybills - The Best Bill Tracker App</h2>
                  <h2 class="project-list" role="button" {{action "easynet"}}  style="cursor: pointer" >Easynet - A Simple Social Network</h2>
                  <h2 class="project-list" role="button" {{action "idyll"}}  style="cursor: pointer" >Idyll - Multiple Sources in one place</h2>
                  <h2 class="project-list" role="button"  {{action "dothemathright"}}  style="cursor: pointer" >DoTheMathRight - the Super-Calculator</h2>
                  <h2 class="project-list" role="button" {{action "myweightjourney"}}  style="cursor: pointer" >My Weight Journey - Weight Tracker</h2>
                  <h2 class="project-list" role="button"  {{action "cino"}}  style="cursor: pointer" >CINO - Speaker and Positive Influencer</h2>
                  <h2 class="project-list" role="button"  {{action "nile"}}  style="cursor: pointer" >The Nile - Video Streaming Plattform</h2>
                {{/ember-scrollable}}
            </div>
            
        </div>
        <div class="ten wide column">
            <div class="ui grid project">
                <div class="four wide column"></div>
                <div class="twelve wide column projectInfoColumn">
                    {{#if cino_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://cinoversity.de" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/zMOOQnh.png"width="400px"  alt="cino_page"></a>
                        <br>
                        Portfolio Page that basically gives info to Person and Event.   Also using mutliple widgets <a href="https://github.com/zubeir68/cino-webapp" style="color: inherit" target="_blank"><i class="github icon"></i></a>

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">CSS 54.4%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">HTML 27.3%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">JavaScript 19.6%</h3>
                        <hr class="twentypercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if dothemathright_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://dothemathright.herokuapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/Q2LI1jf.png"width="400px"  alt="cino_page"></a>
                        <br>
                        One Input field that can calculate, convert or validate your value, powered by Math.js <a href="https://github.com/zubeir68/dothemathright" style="color: inherit" target="_blank"><i class="github icon"></i></a>

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">HTML 74.6%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">JavaScript 23.7%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">CSS 1.7%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if myweightjourney_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://myweightjourney.herokuapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/hlSFMoW.png"width="400px"  alt="weighttrackingapp"></a>
                        <br>
                        Simple weight tracking app with graph using ember.js, express, mongoose and mongodb <a href="https://github.com/zubeir68/sentrybills-server" style="color: inherit" target="_blank"><i class="github icon"></i></a>

                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 50.9%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express.js 40%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">MongoDB - Mongoose 9.1%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if sentrybills_ }}
                      <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                        <a  href="https://sentrybills1.firebaseapp.com" target="_blank"><img class="ui medium rounded image" src="https://imgur.com/uJbTx3G.png"width="400px"  alt="weighttrackingapp"></a>
                        <br>
                        Sentrybills - Awesome Bill tracking App build with Ember.js, Express, mongoose and mongodb <a href="https://github.com/zubeir68/sentrybills-server" style="color: inherit" target="_blank"> <i class="github icon"></i></a>
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 43.9%</h3>
                        <hr class="wow fadeInRight" data-wow-delay="0.8s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express.js 40%</h3>
                        <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                        <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">MongoDB - Mongoose 16.1%</h3>
                        <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                      </div>
                    {{/if}}
                    {{#if idyll_ }}
                    <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                      <a href="https://idyll.herokuapp.com" target="_blank"><img class="ui medium rounded image"
                          src="https://i.pinimg.com/originals/fa/a0/ae/faa0ae6540764d2e63c0ce10b6831c46.png" width="400px" alt="idyll"></a>
                      <br>
                      A simple resource App that fetches information of multiple api's like reddit, youtube, google trends, news sources and
                      more <a href="https://github.com/zubeir68/idyll-client" style="color: inherit" target="_blank"><i class="github icon"></i></a>
                    
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 74.6%</h3>
                      <hr class="wow fadeInRight" data-wow-delay="0.8s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express 23.7%</h3>
                      <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">CSS 1.7%</h3>
                      <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                    </div>
                    {{/if}}
                    {{#if easynet_ }}
                    <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                      <a href="https://easynet.firebaseapp.com" target="_blank"><img class="ui medium rounded image"
                          src="https://imgur.com/yWCYNBe.png" width="400px" alt="easynet"></a>
                      <br>
                      A simple Social Network where you post and personalize your Account using Express, Postgres and Ember <a href="https://github.com/zubeir68/server-easynet" style="color: inherit" target="_blank">
                        <i class="github icon"></i>
                      </a>
                    
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Express.js 60%</h3>
                      <hr class="wow fadeInRight" data-wow-delay="0.8s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Ember.js 20%</h3>
                      <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">Postgres 15%</h3>
                      <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                    </div>
                    {{/if}}
                    {{#if aptool_ }}
                    <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                      <a href="https://aptool.firebaseapp.com" target="_blank"><img class="ui medium rounded image"
                          src="https://imgur.com/bqv9aeY.png" width="400px" alt="aptool"></a>
                      <br>
                      Aptool helps you organize your applications you can also search for jobs within the tool <a
                        href="https://github.com/zubeir68/aptool" style="color: inherit" target="_blank">
                        <i class="github icon"></i>
                      </a>
                    
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Express.js 60%</h3>
                      <hr class="wow fadeInRight" data-wow-delay="0.8s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Ember.js 15%</h3>
                      <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">Postgres 25%</h3>
                      <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                    </div>
                    {{/if}}
                    {{#if qard_ }}
                    <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                      <a href="https://qard-app.firebaseapp.com" target="_blank" rel="noopener"><img class="ui medium rounded image"
                          src="https://i.imgur.com/cnDjv7A.png" width="400px" alt="aptool"></a>
                      <br>
                      Be able to save your socials and share them with a QR-Code, instead of walking around with pieces of paper <a
                        href="https://github.com/zubeir68/qard" style="color: inherit" target="_blank">
                        <i class="github icon"></i>
                      </a>
                    
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 50%</h3>
                      <hr class="wow fadeInRight" data-wow-delay="0.8s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Express.js 40%</h3>
                      <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">MongoDB 10%</h3>
                      <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                    </div>
                    {{/if}}
                    {{#if nile_ }}
                    <div class="ui basic segment wow fadeInRight" data-wow-delay="0.3s">
                      <a href="https://qard-app.firebaseapp.com" target="_blank" rel="noopener"><img class="ui medium rounded image"
                          src="https://i.imgur.com/cnDjv7A.png" width="400px" alt="aptool"></a>
                      <br>
                      This app allows you to publish videos just like youtube or dailymotion. You can also like and comment <a
                        href="https://github.com/zubeir68/nile" style="color: inherit" target="_blank">
                        <i class="github icon"></i>
                      </a>
                    
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="0.8s" style="color: white">Ember.js 30%</h3>
                      <hr class="wow fadeInRight" data-wow-delay="0.8s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1s" style="color: white">Node & Express 40%</h3>
                      <hr class="thirtypercent wow fadeInRight" data-wow-delay="1s">
                      <h3 class="ui small header wow fadeInRight" data-wow-delay="1.2s" style="color: white">PostgreSQL 30%</h3>
                      <hr class="onepercent wow fadeInRight" data-wow-delay="1.2s">
                    </div>
                    {{/if}}
                </div>
                
            </div>
        </div>
    </div>
</div>